body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #e2eef4;
}

.main_title {
    text-align: center;
    font-size: x-large;
    padding: 20px;
}

.requests {
    width: 60%;
    margin: auto
}

.requests .request_rejected *, .requests .request_unverified * {
    display: inline-block;
    padding: 10px;
}

.requests .request_rejected {
    background-color: lightcoral;
}

.requests .request_unverified {
    background-color: lightgray;
}

.requests .name {
    font-weight: bold;
}